@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap');

:root {
  --font-lusitana: 'Lusitana', serif;
  --font-roboto: 'Roboto', sans-serif;
}

body {
  font-family: var(--font-lusitana);
 background-color: rgb(255, 255, 255);
}
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
